.search-page-container {
  display: flex;
  align-items: start;

  margin-bottom: auto;
  padding: 22px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-container {
  width: 40%;
  margin-right: auto;
}